body {
    background-image: url(/html/assets/faded-sun.jpg);
    background-size: cover;

    color: #30343f;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;

    margin: auto;
    max-width: 900px;
    padding-bottom: 200px;
    padding-top: 40px;
    width: 90%;
}
h1 {
    border-bottom: 3px solid black;
    font-family: 'Titan One', cursive;
    font-size: 45px;
    font-weight: 900;
}
h2,h3 {
    color: #1b2021;
    font-family: 'Righteous', cursive;
    font-size: 35px;
}
p  {
    color: #30343f;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;
}
.img-maxwidth {
    border: 3px solid black;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
.gradient-text {
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-clip: text;

    background-image: linear-gradient(255deg,#032eff,red);
    box-decoration-break: clone;
    color: black;
    filter: drop-shadow(0 20px 30px #28d8ff33);

    -webkit-background-clip: text;
}
.glass-morph{
    -webkit-backdrop-filter: blur(5.1px);

    backdrop-filter: blur(5.1px);

    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid rgb(255, 255, 255);

    border: 1px solid rgba(255, 255, 255, 0.42);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.code {
    -webkit-backdrop-filter: blur(10.1px);

    backdrop-filter: blur(10.1px);

    background: rgb(246, 40, 40);
    background: rgba(246, 40, 40, 0.28);
    border: 1px solid rgb(246, 40, 40);

    border: 1px solid rgba(246, 40, 40, 0.05);

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 50px;
}
.text:hover {
    background-color:#6bc3ef;
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,.7) 100%);
    background-repeat:no-repeat;
    background-size: 200% 100%;

    transition:background-size 1s, background-color 1s;
}
.hover-morph {
    -webkit-backdrop-filter: blur(10.6px);

    backdrop-filter: blur(10.6px);

    background: rgb(246, 40, 40);

    background: rgba(246, 40, 40, 0.43);

    border: 1px solid rgb(246, 40, 40);

    border: 1px solid rgba(246, 40, 40, 0.02);

    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 5px;
}