button {
    outline: none;
    border: none;
    color: white;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
}
h1 {
    font-size: 15px;
}
h2 {
    text-align: center;
}
img {
    height: 200px;
    width: 300px;
}
p {
    text-indent: 20px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.text-center {
    text-align: center;
}
.container {
    background-color: lightgray;
    position: relative;
    height: 2000px;
}
.wrapper {
    background-color: white;
    text-align: center;
    position: relative;
    height: 200px;
}
.left-side-div {
    background-color: white;
    width: 58%;
    padding: 10px;
    position: relative;
    top: 10px;
    left: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.right-side-div {
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35%;
}
.alert {
    position: absolute;
    top: 5px;
    right: 5px;
}
.enroll {
    background-color: rgb(255, 13, 126);
    color: white;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
}
.sticky-btn {
    outline: none;
    border: none;
    background-color: transparent;
}
.promo {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    padding: 5px;
    background-color: red;
    width: 400px;
    height: 30px;
}
